<% content_for :title do %>Katathon<% end %>
<div class="banner" style="background-image: linear-gradient(-360deg, rgba(100,150,150,0.9) 10%, rgba(102,151,150,0.3) 65%), url('assets/long-desk.jpg');">
  <div class="banner-content">
    <h1>Katathon</h1>
      <p>Where Katas are served!</p>
       <p class="padding">Get those thumbs ready, the next Katathon is in: <% start_time = Date.today%>
        <% end_time = "2016-12-10 14:46:21 +0200" %>
        <%= distance_of_time_in_words(start_time, end_time)  %></p>
        <%= link_to "Get Hacking", index_path, class: "btn btn-info btn-lg" %>
  </div>
</div>
