
  <div class="container">
    <div class="row">
      <% @dat =  Date.today + 4 %>
    </div>
    <%= render 'layouts/carousel' %>
  </div>



<p>
<%= link_to 'Users:', users_path %> <%= User.count %> registered
</p>

