<h3>Get those thumbs ready, the next Katathon is in ......

<%= Time.now + 30 %>


</h3>


<p>
Hello below is embedded ruby! <br>
<%= link_to 'Users:', users_path %> <%= User.count %> registered
</p>

