


<div class="container">
  <div class="row">
    <% @dat =  Date.today + 4 %>
    <%= render 'layouts/carousel' %>
  </div>
</div>



<p>
<%= link_to 'Users:', users_path %> <%= User.count %> registered
</p>

