


<div class="container">
  <div class="row">
    <% dat = Date.today + 4 %>
    <h3 class="text-center" >Get those thumbs ready, the next Katathon is: <%= dat.strftime('%a %e') %></h3>
    <%= render 'layouts/carousel' %>
  </div>
</div>



<p>
<%= link_to 'Users:', users_path %> <%= User.count %> registered
</p>

