




<% dat = Date.today + 3.5 %>
<h3>Get those thumbs ready, the next Katathon is: <%= dat.strftime('%a %e %M:%S') %></h3>
<%= render 'layouts/carousel' %>



<p>
<%= link_to 'Users:', users_path %> <%= User.count %> registered
</p>

